html, body {
    margin: 0;
    height: 100%;
    font: 600 16px Arial, Helvetica, sans-serif;
}


.img, .img2, .img3 {
    position: relative;
    background: center / cover no-repeat;
    background-attachment: fixed;
}

.img  { background-image: url(imgs/image1.png); min-height: 100%; }
.img2 { background-image: url(imgs/image2.png); min-height: 400px; }
.img3 { background-image: url(imgs/image.png);  min-height: 700px; }

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: #fff;
}

.textttt {
    background: rgba(0,0,0,.5);
    padding: 20px;
}

.lorem {
    padding: 50px 80px;
    text-align: center;
    background: #fff;
    color: #000;
}
